[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/physfs"]
	path = vendor/physfs
	url = https://github.com/icculus/physfs.git
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/rlImGui"]
	path = vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/clay"]
	path = vendor/clay
	url = https://github.com/nicbarker/clay.git
[submodule "vendor/raylib-physfs"]
	path = vendor/raylib-physfs
	url = https://github.com/RobLoach/raylib-physfs.git
[submodule "vendor/fredbuf"]
	path = vendor/fredbuf
	url = https://github.com/cdacamar/fredbuf.git
[submodule "vendor/zep"]
	path = vendor/zep
	url = https://github.com/Rezonality/zep.git
